<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello this is single select</h1>
   
    <table>
         <tr>
            <th>student name </th>
            <th> student depertment</th>
            <th>student salary</th>
            <th>student date of admission</th>
         </tr>
         <tr>
            <td><%=record.name%></td>
            <td><%=record.department%></td>
            <td><%=record.salary%></td>
            <td><%=record.Doj%></td>
            

            
         </tr>
    </table>
</body>
</html>